/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: url("../bkg.jpg");
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

/* Question 1 */
.gallery-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  text-align: center;
}

.vignette{
  border:1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  padding:20px;
  padding-bottom: 40px;
  padding-top: 1%;
  text-shadow: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
}



button {
  text-decoration: none;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  transition: all 0.2s;
}

button:hover {
  color : white;
  background-color: black;
}

/* Exercice 2 */

.lightbox_container {
  display: none;
}

.lightbox_containerShow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    display : block;
    background: black;
}

#lightbox {
  height: calc(100% - 80px);
  /*
    100% = taille entière de l'écran
     -80px = taille des padding et d'un espace supplémentaire
     Permet d'indiquer à l'image la taille restante dans l'écran
  */
}

#lightbox_close {
  position: absolute;
  text-align: left;
}


#lightbox_title {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

#lightbox_previous {
  text-align: center;
  display: block;
  margin : auto;

}

#lightbox_next {
  text-align: center;
  display: block;
  margin : auto;

}

#lightbox-head {
  padding: 15px;
  margin: 10px;
}

#lightbox-img {
  text-align: center;
  height: 100%;
  padding: 10px;
}

#lightbox-img > img {
  max-height: 100%;
  max-width: 100%;
}

.bodyHideOverflow {
  overflow: hidden;
}

/* Partie 2 */
#lightboxButtons {
  display: flex;
}

.inoperative {
  pointer-events: none;
}
